<%-include('../cabecalho.ejs')%>
<h1>EDITAR ADOTANTE</h1>
<div>
<a href="/adotante/lst">LISTAR</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Adotante.id%>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Adotante.nome%>"><br>
        <label>CPF:</label>
        <input type="text" name="cpf"
        value="<%=Adotante.cpf%>"><br>
        <label>Data de Nascimento:</label>
        <input type="date" name="dataNascimento"
        value="<%=Adotante.dataNascimento%>"><br>
        <label>Telefone:</label>
        <input type="text" name="telefone"
        value="<%=Adotante.telefone%>"><br>
        <label>E-mail:</label>
        <input type="text" name="email"
        value="<%=Adotante.email%>"><br>
        <label>Endereço:</label>
        <input type="text" name="endereco"
        value="<%=Adotante.endereco%>"><br>
        <label>Data de cadastro:</label>
        <input type="date" name="dataCadastro"
        value="<%=Adotante.dataCadastro%>"><br>

        <button type="submit">Salvar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>