<%-include('../cabecalho.ejs')%>
<h1>EDITAR JOGADOR</h1>
<div>
<a href="/jogador/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Jogador.id%>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Jogador.nome%>"><br>
        <label>Time:</label>

        <select name="time">
    <option value="">Selecione</option>
    <option value="Sesi São Paulo" <%= Jogador.time === "Sesi São Paulo" ? "selected" : "" %>>Sesi São Paulo</option>
    <option value="Minas Tênis Clube" <%= Jogador.time === "Minas Tênis Clube" ? "selected" : "" %>>Minas Tênis Clube</option>
    <option value="Flamengo" <%= Jogador.time === "Flamengo" ? "selected" : "" %>>Flamengo</option>
</select><br>
        <label>Posição:</label>
<select name="posicao">
    <option value="">Selecione</option>
    <option value="Levantador" <%= Jogador.posicao === "Levantador" ? "selected" : "" %>>Levantador</option>
    <option value="Oposto" <%= Jogador.posicao === "Oposto" ? "selected" : "" %>>Oposto</option>
    <option value="Central" <%= Jogador.posicao === "Central" ? "selected" : "" %>>Central</option>
    <option value="Ponteiro" <%= Jogador.posicao === "Ponteiro" ? "selected" : "" %>>Ponteiro</option>
    <option value="Líbero" <%= Jogador.posicao === "Líbero" ? "selected" : "" %>>Líbero</option>
</select><br>
        <label>Idade:</label>
        <input type="text" name="idade"
        value="<%=Jogador.idade%>"><br>
        <label>Altura:</label>
        <input type="text" name="altura"
        value="<%=Jogador.altura%>"><br>

        <button type="submit">Salvar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>