<%-include('../cabecalho.ejs')%>
<h1>ADICIONAR ADOCAO</h1>
<div>
<a href="/adocao/lst">LISTAR</a>

</div>
<div>
    <form  method="post">

         <label>Adotante:</label>
        <select name="adotante" id="adotante">
            <option value="">Selecione</option>
            <% Adotantes.forEach(function(adotante){ %>
                <option value='<%= adotante.id %>'><%= adotante.nome %></option>
            <% }) %>
        </select><br>

        <label>Animal:</label>
        <select name="animal" id="animal">
            <option value="">Selecione</option>
            <% Animais.forEach(function(animal){ %>
                <option value='<%= animal.id %>'><%= animal.nome %></option>
            <% }) %>
        </select><br>
        
        <label>Data da adoção:</label>
        <input type="date" name="dataAdocao"><br>

        <button type="submit">Salvar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>