<%-include('../cabecalho.ejs')%>
<h1>EDITAR ADOCAO</h1>
<div>
<a href="/adocao/lst">LISTAR</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Adocao.id%>"><br>

        <label>Adotante:</label>
        <select name="adotante" id="adotante">
            <option value="">Selecione</option>
            <% Adotantes.forEach(function(adotante){ %>
                <option value="<%= adotante.id %>"
                    <%= (Adocao.adotante && adotante.id.toString() === Adocao.adotante.toString()) ? 'selected' : " " %>>
                    <%= adotante.nome %>
                </option>
            <% }) %>
        </select><br>

         <label>Animal:</label>
        <select name="animal" id="animal">
            <option value="">Selecione</option>
            <% Animais.forEach(function(animal){ %>
                <option value="<%= animal.id %>"
                    <%= (Adocao.animal && animal.id.toString() === Adocao.animal.toString()) ? 'selected' : " " %>>
                    <%= animal.nome %>
                </option>
            <% }) %>
        </select><br>
        
      <label>Data da Adoção:</label>
        <input type="date" name="dataAdocao"
        value="<%=Adotante.dataAdocao%>"><br>


       <button type="submit">Salvar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>