<%-include('../cabecalho.ejs')%>
    <h1>ADOÇÕES</h1>
    <div>
        <form action="
        " method="post">
        <input type="text" name="filtro"
         id="" placeholder="Pesquisar...">
         <button type="submit">Pesquisar</button>
    </form>
    </div>
        <a href="/adocao/add" class="add">+ NOVA ADOÇÃO</a>
    <table>
        <tr>
            <td>Adotante</td>
            <td>Animal</td>
            <td>Data da Adoção</td>
            <td>Ações</td>
        </tr>
      
        <%for (const {id, adotante, animal, dataAdocao} of Adocoes) {%>
        <tr>
            <td><%=adotante.nome%></td>
            <td><%=animal.nome%></td>
             <td><%=new Date(dataAdocao).toLocaleDateString('pt-BR')%></td>

    
            <td><a href="/adocao/edt/<%=id%>">Editar</a>
            <a href="/adocao/del/<%=id%>">Excluir</a></td>
        </tr>
        <%}%>
    </table>
 <%-include('../rodape.ejs')%>