<%-include('../cabecalho.ejs')%>
<h1>EDITAR TIME</h1>
<div>
<a href="/time/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Time.id%>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Time.nome%>"><br>
        <label>Cidade:</label>
        <input type="text" name="cidade" 
        value="<%=Time.cidade%>"><br>
        <button type="submit">Salvar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>